{% extends 'base.html' %}

{% block title %}
О нас | WЯENCHY's nook
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="text-center mb-5">О нас</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Наша миссия</h3>
                <p>WЯENCHY's nook — это уголок для всех, кто живет музыкой. Мы стремимся предоставить уникальные музыкальные товары: от виниловых пластинок до профессиональных инструментов, создавая пространство для творчества и вдохновения.</p>
            </div>
            <div class="col-md-6">
                <h3>Наша история</h3>
                <p>Основан в 2023 году как страсть к винилу, WЯENCHY's nook вырос в полноценный магазин музыкальных товаров. Наша команда — это музыканты и коллекционеры, которые знают, что нужно каждому меломану.</p>
            </div>
        </div>
        <div class="text-center mt-5">
            <p>Присоединяйтесь к нам и найдите свою мелодию!</p>
            <a href="{% url 'home' %}" class="btn btn-accent"  style="color: #00ff88;">Вернуться в каталог</a>
        </div>
    </div>
</section>
{% endblock %}