{% extends 'base.html' %}

{% block title %}
Редактирование продукта | WЯENCHY's nook
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="text-light mb-4">Редактирование продукта: {{ product.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-neon">Сохранить</button>
            <a href="{% url 'product_detail' product.slug %}" class="btn btn-outline-secondary">Отмена</a>
        </form>
    </div>
</section>
{% endblock %}