{% extends 'base.html' %}

{% block title %}
Удаление продукта | WЯENCHY's nook
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="text-light mb-4">Удаление продукта</h1>
        <p>Вы уверены, что хотите удалить продукт "{{ product.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-neon">Да, удалить</button>
            <a href="{% url 'product_detail' product.slug %}" class="btn btn-outline-secondary">Отмена</a>
        </form>
    </div>
</section>
{% endblock %}