{% extends 'base.html' %}

{% block title %}
{{ product.title }} | WЯENCHY's nook
{% endblock %}

{% block content %}
<section class="py-4 py-md-5">
    <div class="container">
        <div class="row">
            <!-- Изображение -->
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="product-image-container">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="product-image" alt="{{ product.title }}">
                    {% else %}
                        <div class="no-image">
                            <span>Нет изображения</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Информация о товаре -->
            <div class="col-12 col-md-6">
                <h1 class="text-light mb-2 product-title">{{ product.title }}</h1>
                <h4 class="text-light mb-2 product-artist">{{ product.artist }}</h4>
                <p class="text-light product-description mb-3">{{ product.description }}</p>
                <form method="post" action="{% url 'add_to_cart' product.slug %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="variant" class="form-label text-light">Формат:</label>
                        <select name="variant" id="variant" class="form-select form-select-sm bg-dark text-light">
                            {% for variant in product.productvariant_set.all %}
                                <option value="{{ variant.id }}">{{ variant.product_type.name }} - {{ variant.price }} руб. (в наличии: {{ variant.stock }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-neon w-100 w-md-auto">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}